
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" 
        data-th-href="@{/static/css/bootstrap-3.1.1.min.css}" />
        
    <link type="text/css" rel="stylesheet"
        data-th-href="@{/static/font-awesome/css/font-awesome.css}" />

    <!-- SB Admin CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" 
        data-th-href="@{/static/css/sb-admin.css}" />
    
    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>

   

</head>

<body>

<div id="wrapper">                <!-- /#wrapper -->

    <div data-th-replace="fragments/sb-admin :: top-nav"></div>
    
    <div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>

    <div id="page-wrapper">
     		<div class="container" -fluid xyz>
			<div class="col-lg-12">


				<form  action="new">
					<button class="btn btn-primary" type="submit">NuevoCliente</button>
				</form>

				<hr>

				<div class="row">

					<div class="col-md-9">
						<div class="panel panel-info">
							<div class="panel-heading">Cliente</div>

							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<table id="dtcat"
											class="table table-bordered table-hover table-striped table-condensed"
											style="font-size: 14px">
											<thead>
												<tr>
													<th width="8%">ID</th>
													<th width="12">DNI</th>
													<th width="20%">Nombre</th>
													<th width="20%">Apellidos</th>
													<th width="20%">Direccion</th>
													<th width="20%">Control</th>
												</tr>
											</thead>

											<tbody>

												<tr th:each="cliente: ${clientes}">
													<td th:text="${cliente.id}"></td>
													<td th:text="${cliente.dni}"></td>
													<td th:text="${cliente.nombre}"></td>
													<td th:text="${cliente.apellido}"></td>
													<td th:text="${cliente.direccion}"></td>
													


													<td class="pad-no">
														<div class="form-group">
															<a th:href="@{edit(clave=${cliente.id})}"
																data-original-title="Editar"
																class="btn btn-default btn-hover-info btn-xs glyphicon glyphicon-edit"
																data-toggle="tooltip" data-placement="top"
																title="Editar Cliente">Editar</a>
															
															<a th:href="@{borrarCliente(clave=${cliente.id})}"
																data-original-title="Eliminar"
																class="btn btn-default btn-hover-info btn-xs glyphicon glyphicon-trash"
																data-toggle="tooltip" data-placement="top"
																title="Eliminar cliente">Eliminar</a>														
														</div>

													</td>
												</tr>


											</tbody>

										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
     
     
     </div>		    <!-- page wrapper -->
</div>              <!-- /#wrapper -->

        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" 
        data-th-src="@{/static/js/jquery-1.11.0.min.js}"></script>
        
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" 
        data-th-src="@{/static/js/bootstrap-3.1.1.min.js}"></script>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" 
        data-th-src="@{/static/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
        
    <!-- SB Admin Scripts - Include with every page -->
    <script type="text/javascript" 
        data-th-src="@{/static/js/sb-admin.js}"></script>

</body>
</html>
